# COGS 108 - Data Checkpoint

# Names

- Jiayang Bao
- Yuxuan Chen
- Jingtian Ma
- Tianze Zhang
- Cindy Wang

<a id='research_question'></a>
# Research Question

Whether traffic accidents in San Diego are specifically linked to time and location, and the impact of the types of accidents that occur in different time &locations.

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: traffic collision data of San Diego 
- Link to the dataset: https://data.sandiego.gov/datasets/police-collisions/
- Number of observations: 37145

It's the data of date/time, types and locations of collision accidents in Sna Deigo within 2017-2022.

# Setup

In [1]:
## YOUR CODE HERE
import pandas as pd
import numpy as np
import seaborn as sns
import warnings

# Data Cleaning

Describe your data cleaning steps here.

- How 'clean' is the data?
<br>
<br>
    All the column names are very descriptive and concise. Same type of data are always have the same name. All the standard and units are following in the same way. In the data cleaning process, we did below process so that the data can be directly used when we doing our analysis.

- What did you have to do to get the data into a usable format? (If you did nothing, how did you determine there was nothing to do?)
<br>
<br>
    We add up the column of injured and death by using the equation injured+killed*3 to get the severity score and put it to the new column named severity. We then drop the column injured and death. Also, we drop the rows which contains null values in the subset columns that we need to use. We extract the information about when the collision happened in terms of hour and month and put it to two new column. We drop the columns that we will not use in the future.

- What pre-processing steps that were required for your methods (for example, checking data distributions and performing any transformations that may be required)? 
<br>
<br>
    Before processing the data, we need to check the range of the data and decide what specific time period we want to perform cleaning. While determining a specific time, we also need to make sure that there are a reasonable number of observations that we could analyze. Furthermore, we need to determine which columns to remain. Once we decide all of them, we could begin cleaning the data by getting rid of all null/na values. There are only a few missing values, and since our datasets contain a lot of observations, we believe that removing few missing values would not impact the overall distribution of the dataset. We should also get rid of all noisy values such as a negative number for inside injured/died columns, but since the data we obtained are from a government website, we believed that we shouldn’t find any invalid value. Our data should not contain any “outlier” since all data are from real traffic collisions and accidents.

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

warnings.filterwarnings("ignore")
#read in data from csv
df = pd.read_csv('pd_collisions_datasd_v1.csv')
#show unclean data
df.head()
#delete report_id police_beat address_no_primary address_pd_primary address_pd_intersecting address_name_intersecting address_sfx_intersecting violation_section hit_run_1v1
df=df.drop(columns=['report_id','police_beat','address_no_primary','address_pd_primary','address_pd_intersecting','address_name_intersecting','address_sfx_intersecting','charge_desc','hit_run_lvl'])
#add new date_in_month column to store the month
df["date_in_month"]=df["date_time"].str[5:7]
df["date_in_month"]=df["date_in_month"].astype(int)
#add new date_in_month column to store the hour of the day
df["date_in_hour"]=df["date_time"].str[10:13]
df["date_in_hour"]=df["date_in_hour"].astype(int)
#add up injured+killed*3 new column named severity
#killed has higher weights in severity than injured so we times 3 in killed number
df["Severity"]=df["injured"]+df["killed"]*3
df=df.drop(columns=['injured','killed'])
#only keep data that has date_time range from 2018 to 2021
list = ["2015","2016","2017","2022"]
for i in list:
    df = df[df["date_time"].str.contains(i) == False]
# check for null, we find out address_road_primary has one row of null, we choose to delete it
print('violation_section:',df['violation_section'].hasnans)
print('Severity:',df['Severity'].hasnans)
print('date_in_month:',df['date_in_month'].hasnans)
print('date_in_hour:',df['date_in_hour'].hasnans)
print('date_time:',df['date_time'].hasnans)
print('address_road_primary:',df['address_road_primary'].hasnans)
df[df['address_road_primary'].isnull()]
df=df.dropna(subset=['address_road_primary'])
print('address_road_primary:',df['address_road_primary'].hasnans)
#show clean data
df

violation_section: False
Severity: False
date_in_month: False
date_in_hour: False
date_time: False
address_road_primary: True
address_road_primary: False

,date_time,address_road_primary,address_sfx_primary,violation_section,violation_type,date_in_month,date_in_hour,Severity
28684,2018-01-01 00:30:00,EL CAMINO DE TEATRO,,22350,VC,1,0,0
28685,2018-01-01 01:00:00,ROSECRANS,STREET,22350,VC,1,1,0
28686,2018-01-01 01:26:00,PALM,AVENUE,21954A,VC,1,1,3
28687,2018-01-01 02:05:00,LOGAN,AVENUE,22450(A),VC,1,2,0
28688,2018-01-01 02:26:00,DIVISION,STREET,22107,VC,1,2,0
...,...,...,...,...,...,...,...,...
65824,2021-12-31 18:00:00,SAN YSIDRO,BOULEVARD,20002(A),VC,12,18,0
65825,2021-12-31 19:35:00,OF CURBLINE 1900 CYPRESS,AVENUE,21750,VC,12,19,1
65826,2021-12-31 20:15:52,35TH,STREET,21453B,VC,12,20,0
65827,2021-12-31 20:23:18,HAWTHORN,STREET,22350,VC,12,20,1
65828,2021-12-31 21:41:00,PACIFIC,HIGHWAY,22350,VC,12,21,1